body {
    font-family: 'Helvetica', sans-serif;
    line-height: 1.5;
    font-size: 18px;
    background-color: #ededed;
}

.title-box {
    background-color: #3b516b;
    color: floralwhite;
    text-decoration: underline;
    padding: 20px;
    margin: 10px 5px;
    letter-spacing: 3px;
    border-radius: 10px;
}

li {
    margin-left: 20px;
}