body {
    margin: 0px;
    padding: 0px;
    background-color: #ccc;
}


.navbar ul {
    background-color: #444;
    text-align: center;
}

.navbar ul li {
    display: inline-block;
    font-size: 24px;
    line-height: 40px;
    height: 40px;
    padding: 20px
}

a {
    text-decoration: none;
    color: #fff;
}