/* .first-ol {
    list-style-type: lower-alpha;
}

.second-ol {
    list-style-type: decimal;
}

.second-ol ul {
    list-style-type: circle;
}

.outer-ol {
    list-style-type: upper-roman;
}

.third-ul {
    list-style-type: disc;
} */